.Register {
    /* border: 1px solid black; */
    height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("/src/assets/img/ryan-klaus-9BMj-9rR8AE-unsplash.jpg");
}

.Registertitle {
  font-size: 50px;
  font-family: 'josefin Sans', 'sans-serif';
}

.Registerform {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.Registerform > label {
  margin: 10px 0;
}

.Registerinput {
  padding: 10px;
  background-color: white;
  border: none;
}

.Registerbutton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.Registerlogin {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
